doctype html
html
    head
        title= name
    body
        h1.description#app= name
        p.descrption_paragraph Welcome on the login page.
        div.description_button(width="100",height="50")
            a(href=/auth/google).description_button-link Login
